<h2 mat-dialog-title>Mudar localização do usuário</h2>
<mat-dialog-content class="mat-typography">
  <div class="row no-gutters">

    <div class="col-6 align-middle p-3">
      <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item">usrPosX: {{ usrPosX }}</li>
        <li class="list-group-item">usrPosY: {{ usrPosY }}</li>
        <li class="list-group-item">usrMts: {{ usrMts }}</li>
        <li class="list-group-item">usrHr: {{ usrHr }}</li>
      </ul>
    </div>

    <div class="col-6 align-middle p-3">
      <button class="btn btn-primary" (click)="changeLocaisPorUserInput()">
        atualizar dados aleatoriamente
      </button>
    </div>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button [ngClass]="['btn', 'btn-light']" mat-button mat-dialog-close>Cancelar</button>
  <button [ngClass]="['btn', 'btn-primary', 'ml-3']" mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirmar</button>
</mat-dialog-actions>
