<div class="container">

  <button class="btn btn-primary" (click)="abrirModalNovaLocalizacao()">Novo Local</button>
  <button class="btn btn-primary" (click)="abrirModalMudarLocalizacaoUsuario()">Alterar Localização do Usuario</button>

  <div class="row no-gutters">
    <div
      *ngFor="let item of locaisPorUserInput | keyvalue"
      class="col-12 col-md-6 col-xl-4 p-3"
    >
      <div class="card">
        <div class="card-header" [ngClass]="{
          'card-header-closed': item.value.opened === false,
          'card-header-opened': item.value.opened === true
        }">
          {{ item.value.nome }}
        </div>
        <div class="card-body">
          <div *ngFor="let obj of item.value | keyvalue">
            {{ obj.key }}: {{ obj.value }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
