<div class="container">

  <div class="row no-gutters">
    <div class="col-6 p-3">
      <button class="btn btn-primary w-100" (click)="abrirModalNovaLocalizacao()">Novo Local</button>
    </div>
    <div class="col-6 p-3">
      <button class="btn btn-primary w-100" (click)="abrirModalMudarLocalizacaoUsuario()">Alterar Localização do Usuario</button>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-12 p-3">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center">Posição X do Usuário</th>
            <th class="text-center">Posição Y do Usuário</th>
            <th class="text-center">Máxima Distância</th>
            <th class="text-center">Horário</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">{{ userData.usrPosX }}</td>
            <td class="text-center">{{ userData.usrPosY }}</td>
            <td class="text-center">{{ userData.usrMts }}</td>
            <td class="text-center">{{ userData.usrHr }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row no-gutters">
    <div
      *ngFor="let item of locaisPorUserInput | keyvalue"
      class="col-12 col-md-6 col-xl-4 p-3"
    >
      <div class="card">
        <div class="card-header" [ngClass]="{
          'card-header-closed': item.value.opened === false,
          'card-header-opened': item.value.opened === true
        }">
          {{ item.value.nome }} <span style="font-size: 12px;">({{ item.value.opened === true ? 'aberto' : 'fechado' }})</span>
        </div>
        <div class="card-body">
          <div *ngFor="let obj of item.value | keyvalue">
            <span style="font-size: 15px;"><b>{{ obj.key }}</b>: {{ obj.value }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
